<a href="https://colab.research.google.com/github/yanggg6666/pythontime/blob/main/pythontime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python 時間序列實做
https://www.finlab.tw/python-%E6%99%82%E9%96%93%E5%BA%8F%E5%88%97%E5%AF%A6%E4%BD%9C%EF%BC%81/

In [6]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

def crawl_price(date):
    r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + str(date).split(' ')[0].replace('-','') + '&type=ALL')
    ret = pd.read_csv(StringIO("\n".join([i.translate({ord(c): None for c in ' '})
                                        for i in r.text.split('\n')
                                        if len(i.split('",')) == 17 and i[0] != '='])), header=0)
    ret = ret.set_index('證券代號')
    ret['成交金額'] = ret['成交金額'].str.replace(',','')
    ret['成交股數'] = ret['成交股數'].str.replace(',','')
    return ret

In [9]:
import datetime
import time

data = {}
n_days = 9
date = datetime.datetime.now()
fail_count = 0
allow_continuous_fail_count = 5
while len(data) < n_days:

    print('parsing', date)
    # 使用 crawPrice 爬資料
    try:
        # 抓資料
        data[date.date()] = crawl_price(date)
        print('success!')
        fail_count = 0
    except:
        # 假日爬不到
        print('fail! check the date is holiday')
        fail_count += 1
        if fail_count == allow_continuous_fail_count:
            raise
            break

    # 減一天
    date -= datetime.timedelta(days=1)
    time.sleep(10)

parsing 2023-07-18 02:59:04.441891
fail! check the date is holiday
parsing 2023-07-17 02:59:04.441891
success!
parsing 2023-07-16 02:59:04.441891
fail! check the date is holiday
parsing 2023-07-15 02:59:04.441891
fail! check the date is holiday

KeyboardInterrupt: ignored

In [10]:
type(data)

dict

In [12]:
data[datetime.date(2023,7,17)]

,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
證券代號,,,,,,,,,,,,,,,,
1101,台泥,19635471,"11,288",722831068,37.00,37.10,36.70,36.75,-,0.25,36.70,"2,088",36.75,16,48.36,NaN
1101B,台泥乙特,5068,8,243046,48.00,48.10,47.85,48.10,+,0.10,47.90,2,48.10,4,0.00,NaN
1102,亞泥,6387281,"2,930",280789057,43.95,44.15,43.90,43.90,NaN,0.00,43.90,275,43.95,23,12.80,NaN
1103,嘉泥,716343,383,15268027,21.25,21.50,21.15,21.40,+,0.15,21.40,12,21.45,24,0.00,NaN
1104,環泥,2705864,"1,048",84074842,31.00,31.40,30.80,31.15,+,0.60,31.10,68,31.15,53,11.45,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9944,新麗,376553,205,8063705,21.20,21.70,21.15,21.50,+,0.30,21.50,6,21.55,4,4.77,NaN
9945,潤泰新,3929345,"3,067",138994400,35.55,35.60,35.15,35.45,-,0.10,35.40,126,35.45,98,20.03,NaN
9946,三發地產,73263,85,1006054,13.80,13.85,13.65,13.70,-,0.15,13.65,18,13.75,9,35.13,NaN
9955,佳龍,261864,185,6103462,23.30,23.55,23.20,23.30,-,0.20,23.30,16,23.35,4,0.00,NaN
9958,世紀鋼,15709344,"7,503",2339503364,145.00,151.50,145.00,149.00,+,5.00,149.00,346,149.50,240,451.52,NaN

In [13]:
import datetime
import time

data = {}
n_days = 9
date = datetime.datetime.now()
fail_count = 0
allow_continuous_fail_count = 5
while len(data) < n_days:

    print('parsing', date)
    # 使用 crawPrice 爬資料
    try:
        # 抓資料
        data[date.date()] = crawl_price(date)
        print('success!')
        fail_count = 0
    except:
        # 假日爬不到
        print('fail! check the date is holiday')
        fail_count += 1
        if fail_count == allow_continuous_fail_count:
            raise
            break

    # 減一天
    date -= datetime.timedelta(days=1)
    time.sleep(10)

parsing 2023-07-18 03:00:27.041635
fail! check the date is holiday
parsing 2023-07-17 03:00:27.041635
success!
parsing 2023-07-16 03:00:27.041635
fail! check the date is holiday
parsing 2023-07-15 03:00:27.041635
fail! check the date is holiday
parsing 2023-07-14 03:00:27.041635
success!
parsing 2023-07-13 03:00:27.041635
success!
parsing 2023-07-12 03:00:27.041635
success!
parsing 2023-07-11 03:00:27.041635
success!
parsing 2023-07-10 03:00:27.041635
success!
parsing 2023-07-09 03:00:27.041635
fail! check the date is holiday
parsing 2023-07-08 03:00:27.041635
fail! check the date is holiday
parsing 2023-07-07 03:00:27.041635
success!
parsing 2023-07-06 03:00:27.041635
success!
parsing 2023-07-05 03:00:27.041635
success!

In [15]:
close = pd.DataFrame({k:d['收盤價'] for k,d in data.items()}).transpose()

In [16]:
close.index = pd.to_datetime(close.index)

In [17]:
close

證券代號,1101,1101B,1102,1103,1104,1108,1109,1110,1201,1203,...,9940,9941,9941A,9942,9943,9944,9945,9946,9955,9958
2023-07-17,36.75,48.10,43.90,21.40,31.15,16.50,17.30,19.55,19.80,41.45,...,29.15,218.50,50.20,149.00,91.30,21.50,35.45,13.70,23.30,149.00
2023-07-14,37.00,48.00,43.90,21.25,30.55,16.55,17.30,19.35,19.80,41.20,...,29.50,215.00,50.20,151.50,92.10,21.20,35.55,13.85,23.50,144.00
2023-07-13,36.80,47.95,43.80,21.25,29.95,16.55,17.35,19.20,19.70,41.60,...,29.15,212.50,50.30,152.50,91.40,20.85,35.20,13.70,23.10,144.50
2023-07-12,36.60,47.85,43.95,21.45,30.15,16.20,18.05,18.90,19.85,42.15,...,29.10,210.50,50.30,154.50,91.00,20.85,35.25,14.05,23.05,143.00
2023-07-11,36.55,47.75,43.90,21.60,29.90,16.55,18.05,19.15,19.95,42.20,...,29.20,209.00,50.20,149.00,94.20,21.15,35.70,14.00,23.00,140.50
2023-07-10,36.85,49.15,43.85,20.75,29.55,16.25,18.05,18.90,19.90,42.80,...,28.80,207.00,50.10,146.50,91.90,21.15,35.85,14.00,23.10,146.00
2023-07-07,37.30,49.10,43.95,21.00,29.75,16.10,18.15,18.60,19.95,43.85,...,28.40,204.50,50.00,148.00,91.40,21.60,35.40,14.15,23.35,144.00
2023-07-06,37.25,49.05,44.10,21.35,30.60,16.30,18.25,18.90,19.95,43.75,...,28.45,205.00,49.95,151.50,91.10,21.60,35.55,14.25,23.80,136.50
2023-07-05,37.80,49.10,44.70,21.65,30.75,16.65,18.45,19.00,20.05,44.00,...,28.45,210.00,49.95,149.50,93.70,21.95,36.15,14.30,23.90,131.00